* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0%;
  font-family: "League Spartan", sans-serif;
}
#root {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

#root.first {
  background-color: hsl(222, 26%, 31%);
}

#root.second {
  background-color: hsl(0, 0%, 90%);
}
#root.third {
  background-color: hsl(268, 75%, 9%);
}

.calculator {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 28%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.keypad {
  padding: 15px;
  height: 43vh;
  background-color: hsl(223, 31%, 20%);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 25% [first] 25% [second] 25% [third] 25% [fourth];
}

.keypad.second {
  background-color: hsl(0, 5%, 81%);
}

.keypad.third {
  background-color: hsl(268, 71%, 12%);
}

.keypad button {
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  border: none;
  margin: 12px;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 700;
  box-shadow: 0px 5px hsl(28, 16%, 65%);
  transition: ease-in-out 0.05s;
  cursor: pointer;
}

.keypad button.second {
  background-color: hsl(45, 7%, 89%);
  color: hsl(60, 10%, 19%);
  box-shadow: 0px 5px hsl(35, 11%, 61%);
}

.keypad button.third {
  background-color: hsl(268, 47%, 21%);
  color: hsl(52, 100%, 62%);
  box-shadow: 0px 5px hsl(290, 70%, 36%);
}

button:active {
  transform: translateY(5px);
  box-shadow: none;
}

.blueKey {
  background-color: hsl(225, 21%, 49%) !important;
  box-shadow: 0px 5px hsl(224, 28%, 35%) !important;
  color: white !important;
  font-size: 20px !important;
}

.blueKey.second {
  background-color: hsl(185, 42%, 37%) !important;
  box-shadow: 0px 5px hsl(185, 58%, 25%) !important;
  color: white;
  font-size: 20px !important;
}
.blueKey.third {
  background-color: hsl(281, 89%, 26%) !important;
  box-shadow: 0px 5px hsl(290, 70%, 36%) !important;
  color: white;
  font-size: 20px !important;
}

.blueKey.longKey {
  grid-column-start: 1;
  grid-column-end: 3;
}

.redKey.longKey {
  grid-column-start: 3;
  grid-column-end: 5;
  color: white;
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0px 5px hsl(6, 70%, 34%);
}

.redKey.longKey.second {
  background-color: hsl(25, 98%, 40%);
  box-shadow: 0px 5px hsl(25, 99%, 27%);
  color: white;
}

.redKey.longKey.third {
  background-color: hsl(176, 100%, 44%);
  box-shadow: 0px 5px hsl(177, 92%, 70%);
  color: hsl(198, 20%, 13%);
}

.screen {
  background-color: hsl(224, 36%, 15%);
  height: 10vh;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
}

.screen.second {
  background-color: hsl(0, 0%, 93%);
}
.screen.third {
  background-color: hsl(268, 71%, 12%);
}

.screen > div {
  padding: 10px 25px 0px 0px;
  color: hsl(0, 0, 100%);
  font-size: 4em;
}

.screen > div.second {
  color: hsl(198, 20%, 13%);
}
.screen > div.third {
  color: hsl(52, 100%, 62%);
}

input {
  height: 15px;
  width: 15px;
  appearance: none;
  margin: 3px 2px 0px 2px;
  background-color: hsl(6, 63%, 50%);
  border-radius: 50%;
  opacity: 0;
}

input.second {
  background-color: hsl(25, 98%, 40%) !important;
}

input.third {
  background-color: hsl(176, 100%, 44%) !important;
}

input:hover {
  cursor: pointer;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle_label {
  margin: 5px 20px 0 0;
  color: white;
  font-size: 0.6em;
}

.toggle_label.second {
  color: hsl(198, 20%, 13%);
}

.toggle_label.third {
  color: hsl(52, 100%, 62%);
}

.app_label {
  color: white;
  font-size: 2em;
  display: inline-flex;
  align-items: center;
}

.app_label.second {
  color: hsl(198, 20%, 13%);
}
.app_label.third {
  color: hsl(52, 100%, 62%);
}

.toggle_button {
  height: 3em;
  display: flex;
  flex-direction: column;
}

.labels {
  margin-left: 2px;
}

.labels > span {
  color: white;
  font-size: 0.6em;
  margin: 7px;
}

.labels > span.second {
  color: hsl(198, 20%, 13%);
}

.labels > span.third {
  color: hsl(52, 100%, 62%);
}

.buttons {
  height: fit-content;
  background-color: hsl(223, 31%, 20%);
  border-radius: 50px;
}

.buttons.second {
  background-color: hsl(0, 5%, 81%);
}
.buttons.third {
  background-color: hsl(268, 71%, 12%);
}